a,h3 {
    color: rgb(169, 169, 169);
}

avatar {
    cursor: default;
}

.leftnavbarActionsList {
    list-style-type: none;
    padding: 4em 0 0 0;
}

.leftnavbarActionsList:nth-child(1) {
    color: white !important;
}

.leftnavbarActionsList li {
    text-align: center;
    padding: 4px;
}

.leftnavbarActionsList li a {
    text-align: center;
    text-decoration: none;
    font-weight: 900;
    font-size: 13pt;
    /*padding: 4px;*/
}

.leftnavbarActionsList li a:hover {
    color: rgba(169, 169, 169, 0.4);
}

.leftnavbarAction {
    /*background: black;*/
    margin: 1em 0 0 0;
    text-align: center;
}

.version {
    text-align: center;
    margin: 4em 0 0 0;
    font-size: 10pt;
}

