<spinner *ngIf="_isLoading"></spinner>

<!--<spinner *ngIf="_isLoading"></spinner>-->

<ul *ngIf="!_isLoading" class="actions">
    <li>
        <a routerLink="/admin/posts/create">
            <i>add</i>
        </a>
    </li>
</ul>

<div *ngIf="!_isLoading" class="masterDetail">
    <section class="master">
        <ul>
            <li *ngFor="let post of _posts">
                <a class="masterLink" (click)="onPostClick(post.id)">
                    {{post.title}}
                </a>
            </li>
        </ul>
    </section>

    <div class="verticalLine"></div>

    <section *ngIf="_selectedPost" class="detail">
        <div>
            <div>
                <div>{{_selectedPost.title}}</div>
                <div>{{_selectedPost.slug}}</div>
            </div>
            <div>{{_selectedPost.content}}</div>
            <div>
                <button (click)="onPostDelete(_selectedPost.id)" type="button">
                    <i>delete_forever</i>
                </button>
                <a routerLink="/admin/posts/update/{{_selectedPost.id}}">
                    <i>edit</i>
                </a>
            </div>
        </div>
    </section>
</div>
