<spinner *ngIf="isLoading"></spinner>

<!--<spinner *ngIf="isLoading"></spinner>-->

<ul *ngIf="!isLoading" class="actions">
    <li>
        <a routerLink="/admin/posts/create">
            <i>add</i>
        </a>
    </li>
</ul>

<div *ngIf="!isLoading" class="masterDetail">
    <section class="master">
        <ul>
            <li *ngFor="let post of posts">
                <a class="masterLink" (click)="onPostClick(post.id)">
                    {{post.title}}
                </a>
            </li>
        </ul>
    </section>

    <div class="verticalLine"></div>

    <section *ngIf="selectedPost" class="detail">
        <div>
            <div>
                <div>{{selectedPost.title}}</div>
                <div>{{selectedPost.slug}}</div>
            </div>
            <div>{{selectedPost.content}}</div>
            <div>
                <button (click)="onPostDelete(selectedPost.id)" type="button">
                    <i>delete_forever</i>
                </button>
                <a routerLink="/admin/posts/update/{{selectedPost.id}}">
                    <i>edit</i>
                </a>
            </div>
        </div>
    </section>
</div>
