
.book-template {
    width: 100%;
    margin-bottom: 2em;
    padding: 1em;

    cursor: default;
    transition: all ease-in-out 200ms;
    text-align: center;

    display: inline-flex;
    flex-flow: column nowrap;
    align-items: center;

}

.book-template:hover {
}

.book-image {
    height: 13.6em;
    width: 9em;
    outline: 1px solid #dadada;
    object-fit: scale-down;
    object-position: 50% 50%;
}

.book-body {
    width: 9em;
    margin-top: 0.6em;
}

.book-title {
    font-size: 11pt;
}

.book-authors {
    font-size: 11pt;
    font-style: italic;
    color: #544e4e;
}

@media screen and (max-width: 1170px) {
}

@media screen and (max-width: 1070px) {
}

@media screen and (max-width: 970px) {
}

@media screen and (max-width: 570px) {
}
