
.resources-container {
    margin: 2em;
}

.resource-category {
    font-size: 18pt;
    font-weight: bold;
    text-transform: capitalize;
}

.resource-list {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
}
