<spinner *ngIf="isLoading"></spinner>

<section *ngIf="!isLoading" class="project-section">
    <div *ngFor="let project of projects" class="project-template">
        <div class="project-head">
            <div class="project-name">
                <a href="{{project.Url}}" target="_blank" rel="noopener">{{project.ProjectName}}</a>
            </div>
            <div class="published-date-holder">
                <span class="published-date">{{project.PublishedYear}}</span>
            </div>
        </div>

        <div class="project-body">
            {{project.Description}}
        </div>
    </div>
</section>