<spinner [isSpinning]="isLoading"></spinner>

<section *ngIf="!isLoading" class="project-section">
    <div *ngFor="let project of projects" class="project-template">
        <div class="project-head">
            <div class="project-name">
                <a href="{{project.url}}" target="_blank" rel="noopener">{{project.projectName}}</a>
            </div>
            <div class="published-date-holder">
                <span class="published-date">{{project.publishedYear}}</span>
            </div>
        </div>

        <div class="project-body">
            {{project.description}}
        </div>
    </div>
</section>
