
.skill-template {
    margin-top: 2em;

    display: inline-flex;
    flex-flow: column nowrap;
    align-content: flex-start;
    align-items: flex-start;
}

.skill-level {
    height: 0.8em;
    width: 40em;

    display: inline-flex;
    flex-flow: row nowrap;

    border: 1px solid black;
    border-radius: 2em;
}

.skill-level-fill {
    height: 100%;

    flex-basis: 80%;
    background-color: rgb(74, 192, 80);
    border-radius: 2em 0 0 2em;
}

.skill-level-empty {
    height: 100%;

    flex-basis: 20%;
    background-color: rgb(69, 69, 182);
    border-radius: 0 2em 2em 0;
}
