.card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  height: 300px;
  margin: 1rem;
  position: relative;
  width: 300px;
}

.card:hover {
    box-shadow: 0 8px 8px rgba(0,0,0,0.24), 0 0 8px rgba(0,0,0,0.12);
    text-decoration: none;
}

.postList {
    list-style-type: none;
}

.postArticle {
    /* padding: 0;
    margin: 50px 100px;
    height: 260px;
    width: 800px;
    display: flex;
    border-radius: 10px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.24), 0 0 2px rgba(0,0,0,0.12);
    background: #fff;
 */

    padding: 0;
    margin: 50px 100px;
    height: 260px;
    width: 800px;
    display: flex;
    border-radius: 3px;
    box-shadow: 0 1px 4px rgba(0,0,0,.04);
    background: #fff;
    border: 1px solid rgba(0,0,0,.09);
}

.postArticle:hover {
    box-shadow: 0 0 0 2px #22384e;
}

.postArticle hr {
    margin: 0;
    padding: 0;
    border: 0.1em solid gray;
}

.postArticleImage {
    width: 30%;
}

.postArticleImage img {
    object-fit: contain;
    -o-object-fit: contain;
}

.postArticleImage > img {
    height: 100%;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    pointer-events: none;
}

.postArticleBody {
    width: 70%;
    border-left: 0.2em solid grey;
}

.postArticleBodyTitle {
    /*font-size: 16pt;*/
    padding: 14px 20px 20px 20px;
    height: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
}

.postArticleBodyDetails {
    font-size: 12pt;
    height: 140px;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    float: left;
    text-align: left;
    padding: 12px 12px 36px 12px;
}

.postArticleBodyDetails:hover {
    overflow-y: visible;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}





