<spinner [isSpinning]="isLoading"></spinner>

<ul *ngIf="!isLoading" class="postList">
    <!--<li *ngFor="let post of (currentPage == 1 ? _pagedPosts : _posts)">-->
    <li *ngFor="let post of posts">
        <article class="postArticle card card-1">
            <div class="postArticleImage">
                <img [src]="post.coverImage" class="object-fit-contain" alt="postImage">
            </div>
            <div class="postArticleBody">
                <h3 class="postArticleBodyTitle">
                    <a class="blogLink" routerLink="/posts/{{post.id}}">{{post.title}}</a>
                </h3>
                <hr />
                <p class="postArticleBodyDetails">
                    {{post.heroContent}}
                </p>
            </div>
        </article>
    </li>
</ul>

<!--<up *ngIf="!isLoading && isPaginatable"></up>-->

<button *ngIf="!isLoading && isPaginatable" (click)="onLoadmore()" class="btn">
    <span>load more</span>
</button>


<!--<pager *ngIf="!_isLoading" [items]="_posts" (pageChanged)="onPageChanged($event)"></pager>-->
