
.projects-section {
    margin: 2em;
}

.project-list {

    text-align: center;
    cursor: default;

    display: inline-flex;
    flex-flow: column nowrap;
    align-content: center;
    align-items: flex-start;
    justify-content: center;
}