a {
    color: white;
    text-decoration-line: none;
}

a:hover {
    color: rgba(255, 255, 255, 0.8); 
}

.project-section {
    display: inline-flex;
    flex-direction: column;
    -ms-flex-direction: column;
    flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    margin: 2em 1em; 
}
