<spinner *ngIf="isLoading"></spinner>

<ul *ngIf="!isLoading" class="actions">
    <li>
        <a routerLink="/admin/projects/create">
            <i>add</i>
        </a>
    </li>
</ul>

<div *ngIf="!isLoading" class="masterDetail">
    <section class="master">
        <ul>
            <li *ngFor="let project of projects">
                <a class="masterLink" (click)="onProjectClick(project.Id)">
                    {{project.ProjectName}}
                </a>
            </li>
        </ul>
    </section>

    <div class="verticalLine"></div>

    <section *ngIf="selectedProject" class="detail">
        <div>
            <div>
                <div>{{selectedProject.projectName}}</div>
                <div>{{selectedProject.url}}</div>
            </div>
            <div>{{selectedProject.description}}</div>
            <div>
                <button (click)="onProjectDelete(selectedProject.id)" type="button">
                    <i>delete_forever</i>
                </button>
                <a routerLink="/admin/projects/update/{{selectedProject.id}}">
                    <i>edit</i>
                </a>
            </div>
        </div>
    </section>
</div>
